@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("img/bgimg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    min-width: 30vw;
   
}
.container .heading{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    height: 15vmin;
    width: 15vmin;
    margin-bottom: 2rem;
}

.container h2 {
    margin-left: 5rem;
}

form {
    margin: 2rem 0 1rem 0;

}

form select,button,input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

form input {
    border: 1px solid rgb(147, 140, 140);
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.toFlag  img{
    padding-top: 5px;
}

.fromFlag img{
    padding-top: 5px;
}

.msg {
    margin: 2rem 0 1.5rem 0;
    background-color: #73ffc0;
    height: 2.8rem;
    border-radius: 0.5rem;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 550;
}

